#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
secrets.py
~~~~~~~~~~~~~~~~~

Secrets for EF-Flask.  **DO NOT CHECK IN TO VERSION CONTROL!!!**

:copyright: (c) 2014 by Cameron Dershem.
:license: see TOPMATTER
:source: github.com/cldershem/$SOME_REPO
"""
# WTForm
# To make a secret key copy the output below and paste it in the quotes.
# $ python
# >>> import os
# >>> os.urandom(24)
SECRET_KEY = '<SECRET_STUFF>'
