<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$SOME_APPLICATION - {% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" type="text/css/" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />

  <link rel="shortcut icon" type="text/css/" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link rel="stylesheet" type="text/css/" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet/less" type="text/css/" href="{{ url_for('static', filename='css/style.less') }}" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.min.js" type=text/javascript></script>
</head>
<body>
  <div id="container" class="container">
    <header id="header">
    </header>
    <div id="mainContent">
      <div id="flashMessage">
        {%- with messages = get_flashed_messages() -%}
          {% if messages -%}
            <ul class="alert alert-warning" role="alert">
              {%- for message in messages -%}
                <li>{{message}}</li>
              {%- endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div><!-- end flashMEssage -->
      {% block content %}
      {% endblock %}
    </div><!-- end mainContent -->
    <footer>
      {% block footer %}
      {% endblock %}
      <a id="backToTop" href="{{request.path}}#header">
        <span class="glyphicon glyphicon-chevron-up glyphicon-align-center"></span>
      </a>
      <div id="copyright" class="text-center">
        Copyright (c) 2015 Cameron Dershem.  All Rights Reserved.
      </div><!-- end copyright -->
    </footer>
  </div><!-- end container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"</script>
  <script src="htt://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"</script>
</body>
</html>
